@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/500.css';
@import '~@fontsource/montserrat/600.css';
@import '~@fontsource/montserrat/900.css';

// Reset 
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url('@/assets/img/bg-9.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: grey;
}

a {
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid;
    }
}

button {
    padding: 10px 20px;
    font-weight: 600;
    color: white;
}

// classi Utili 
.container {
    width: min((100% - 20px), 1200px);
    margin: 0 auto;
}

.icon {
    cursor: pointer;
}

.btn-header {
    background: #058283;
    border: none;

    &:hover {
        outline: 1px solid #058283;
        outline-offset: 2px;
        border-radius: 10px;
    }

    &:active {
        background-color: #52bbbb;
    }
}

.btn-trasparent {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #058283;

    &:hover {
        outline: 1px solid #058283;
        outline-offset: 2px;
        border-radius: 10px;
    }

    &:active {
        background-color: #52bbbb;
    }
}

.p-intro {
    color: #1aafb7;
    font-weight: 500;
}

.light {
    font-size: 35px;
    background-color: #daeced;
    padding: 5px 10px;
    color: #058283;
}

.dark {
    padding: 5px 10px;
    background-color: #0e272d;
    color: white;
    font-size: 35px;
}

.icon-size {
    font-size: 25px;
}

// ScrollBar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #058283;
    border-radius: 90px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}