@import '~@fontsource/montserrat/index.css';

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: min((100% - 20px), 1200px);
    margin: 0 auto;
}