$bg-header:#21333e;
$color-text: #bcbdbd;
$bg-button: #058283;
$color-text-p: #02a1a1;
$font-bold: 900;
$font-strong:600;
$font-lighter:500;
$color-text-darker: #69696d;
$color-title-p: #1aafb7;
$bg-title: #daeced;
$bg-dark: #111117;
$padding-section: 80px 0;
$font-size-title:35px;
$bg-title-dark:#0e272d;